Board/History
Board/Project Logs for CTL122
Board/Project Outputs for CTL122/Design Rule Check - Board.drc
Board/Project Outputs for CTL122/Design Rule Check - Board.html
Board/Project Outputs for CTL122/Status Report.txt

Firmware/build
Firmware/debug
Firmware/dist
Firmware/funclist
Firmware/l.obj